<% include ./partials/header %>

        <section class='section-1'>
			<div class='container level-item has-text-centered'>
				<div class=''>
					<h1>
					AHouse Real Estate
				</h1>
				</div>
				
			</div>
			  
		</section>
		

<% include ./partials/footer %>
