<% include ./partials/header %>

<section class='pricing'>
	<div class='fluid-container text-center pricing-about'>
		<h2>
			Buying or Selling, we keep our commission low to ensure you get what you deserve.
			<hr>
		</h2>
		<h5>We charge <em>significantly</em> less than the competition. How can we do this? We're confident that you will come back to us again or tell a friend about the <u>amazing experience.</u></h5>
		<h5>
			Buying or Selling, our flat rate of 2% is one of the best in the business, paired with our excellent service, your guaranteed to walk away happy!
		</h5>
		<h5>
			<u>Don't Forget to Contact Us below!</u>
		</h5>
		<div class='container text-center'>
			<h2 class='pricing-info'>
				2% <br>
				COMMISSION
			</h2>
		</div>
			
	</div>
</section>

<% include ./partials/footer %>