/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background: #eff5ff;
	line-height: 1.5;
  	position: relative;
	font-family: 'Poppins', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* Navbar */

.navbar{
	background: #eff5ff;
	font-size: 1.25em;
}

.banner-nav {
	height: 1.5em;
	width: 2.25em;
	border-radius: 30%
}

/* header */

.banner {
	height: 1.5em;
	width: 2.25em;
	border-radius: 30%
}

header {
	background: url(https://images.unsplash.com/photo-1513024786823-2154d44851af?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10%;
	margin: 60px 0 40px 0;
	
}
/* Section 1 */
.card {
	margin: 20px auto;
	padding: 0;
	float:none;
}


.about-us {
	background: #fff;
	padding: 20px 0 40px 0;
	margin-top: -40px;
}



.hr-about {
	box-shadow: 1px 1px 1px #fff;
	color: #fff;
}

.carousel {
	width: 75%;
	height: 50%;
	margin: 30px auto;
	
}
.d-block {
	width: 100%;
}

h1 {
	position: relative;
	top: -40px;
	margin-bottom: 60px;
	padding-bottom: 0;
	font-weight: 700;
}

.banner-p {
	position: relative;
	top: -70px;
	margin-bottom: 100px;
	font-weight: 700;
	padding-bottom: 0;
}

h2 {
	font-size: 2.5em;
	padding: 30px 0; 
	font-weight: 800;
}

h3 {
	font-size: 1.5em;
	font-weight: 800;
	padding-top: 50px;
}

div h4 {
	margin-bottom: 40px;
}

.section-2 {
	padding: 40px 0;
	background: #FFF;
}

form {
	padding: 30px 0;
	width: 60%;
	margin: 0 auto 20px auto;
}


.bottom {
	margin-bottom: 40px;
	background: #fff;
}

.contact {
	margin-bottom: 40px;
}

.contact-agent:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #000000;
	width: 50%;
	margin: 10px auto;
 }

hr {
	box-shadow: 1px 1px 1px black;
}

.pricing-about {
	background: #fff;
	padding: 40px 0;
	margin-top: -40px;
}


.pricing-info:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #000000;
	width: 50%;
	margin: 10px auto;
}

/* Generic styling */

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
	color: #fff;	
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
